<nav class="navbar navbar-expand-md bg-body-tertiary border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i></a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/listings">Explore</a>
        <% if (!currUser || !currUser.isAdmin) { %>
          <a class="nav-link" href="/login"><b>Admin Login</b></a>
          <% } %>


      </div>

      <div class="navbar-nav ms-auto">
        <a href="<% if (currUser) { %>
           <% if (currUser.isAdmin) { %>/admin/dashboard<% } else { %>/dashboard<% } %>
         <% } else { %>/login<% } %>" title="Profile">
          <i class="fas user-logo fa-user-circle fa-2x"></i>
        </a>


        <a class="nav-link" href="/listings/new">Add new Post</a>

        <% if (!currUser) { %>
          <a class="nav-link" href="/signup"><b>Sign Up</b></a>
          <a class="nav-link" href="/login"><b>Log in</b></a>
          <% } else { %>
            <a class="nav-link" href="/logout"><b>Log Out</b></a>
            <% } %>

      </div>





    </div>
  </div>
</nav>
<style>
  .navbar-nav {
    background-color: #f9f6f6;
  }

  .user-logo {
    font-size: 25px;
    text-align: center;
    margin-top: 8px;
    margin-right: 5px;
    color: black;

  }
</style>